
h1 {
    font-size: 60px;
    font-family: 'Calibri', sans-serif;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #393E41;
}

form{
    text-align: center;
}

.splashAuth{
    width: 60%;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-style: solid;
    border-color: #393E41;
}

.splashAuth:focus{
    border-color: #E94F37;
    outline-width: 0;
}

.splashAuth:hover{
    border-color: #E94F37;
    outline-width: 0;
}


.splashButton{
    width: 30%;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
    border-style: solid;
    border-color: #393E41;
    cursor: pointer;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
}

.splashButton:hover{
    border-color: lightgray;
    color: lightgray;
}

body{
    background: #FC5C7D;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.authfield{
    margin: auto;
    width: 350px;
    height: 225px;
    background-color: #F6F7EB;
    border-width: 2px;
    border-style: solid;
    border-color: #878781;
    vertical-align: middle;
}

.logo{
    margin: auto;
    width:50%;
    padding: 20px;
}

.content{
    position: relative;
    margin-top: 5%;
    -webkit-transition-duration:1.3s;
    transition-duration:1.3s;
}

input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}